.login h1 {
	font-size: 3rem;
	margin: 2rem 0;
	font-family: "Raleway", sans-serif;
}
.login__logo {
	height: 14rem;
	width: auto;
	margin: 2rem;
	border-radius: 4px;
	box-shadow: 0 2rem 2.5rem rgba(0, 0, 0, 0.6);
}
.login {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(
		120deg,
		#075e54 0%,
		#075e54 50%,
		#128c7e 50%,
		#128c7e 100%
	);
}
.login__submit--btn {
	background-color: #25d366;
	font-family: inherit;
	font-size: 1.8rem;
	font-weight: 500;
	color: white;
	padding: 1.5rem 2.5rem;
	border-radius: 5px;
	transition: all 0.15s;
	cursor: pointer;
	border: none;
	margin: 3rem 0;
	animation-fill-mode: backwards;
}

.login__submit--btn:hover {
	background-color: #0fa145;
}
.login__submit--btn:focus {
	outline: none;
}
.login__submit--btn:active {
	transform: translate(0, 10%);
}
.login__text {
	color: white;
}
.login__container {
	display: flex;
	align-items: center;
	flex-direction: column;
}
